@import '__variables';

.fade-appear{
    opacity: 0.7;
    animation: unfold ease-in-out $animation_unfold_duration forwards;
}

.fade-appear-active {
    opacity: 1;
    transition: ease-in-out $animation_unfold_duration;
}

.fade-enter{
    opacity: 0.7;
    animation: unfold ease-in-out $animation_unfold_duration forwards;
}
.fade-enter-active{
    opacity: 1;
    transition: ease-in-out $animation_unfold_duration;
}

.fade-leave{
    opacity: 0.7;
}

.fade-leave-active{
    animation: fold ease-in-out $animation_fold_duration forwards;
}

@keyframes unfold {
    0% {
        opacity: 0.4;    
    }
    100%{
        opacity: 1;
    }
}
@keyframes fold {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}