@import '__variables';

.fade-appear{
    opacity: 0.7;
    animation: fade-in ease-in-out $animation_fade-in_duration forwards;
}

.fade-appear-active {
    opacity: 1;
    transition: ease-in-out $animation_fade-in_duration;
}

.fade-enter{
    opacity: 0.7;
    animation: fade-in ease-in-out $animation_fade-in_duration forwards;
}
.fade-enter-active{
    opacity: 1;
    transition: ease-in-out $animation_fade-in_duration;
}

.fade-leave{
    opacity: 0.7;
}

.fade-leave-active{
    animation: fade-out ease-in-out $animation_fade-out_duration forwards;
}


@keyframes fade-in {
    0% {
        opacity: 0.4;    
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0.4;
    }
}

