/* COLORS */
$website_background: #EFF0F4;
$header_background: #772432;
$header_active_navlink_color: #8d0e23;
$header_navlink_color: #ffffff;
$slide_slogan_color: #004165;
$slide_slogan_shadow: #A9B2B1;
$slide_slogan_bgcolor: rgba(255, 255, 255, 0.63);
$create_post_form_bg: #5a7c9a;
$create_post_form_frame: #05314d;
$strong_color: #004165;
$posts_link_color: #004165;

/* Animations and transitions*/
$board_description_transition: all 600ms ease-in-out; 
$animation_fold_duration: 700ms;
$animation_unfold_duration: 700ms;
