/* VARIABLES */
$website_background: #EFF0F4;
$header_background: #7c1c2c;
$header_active_navlink_color: #8d0e23;
$header_navlink_color: #ffffff;
$slide_slogan_color: #05314d;
$slide_slogan_shadow: #797979;
$slide_slogan_bgcolor: rgba(255, 255, 255, 0.63);